In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [105]:
#creating dataframe from csv file
income_data = pd.read_csv("/home/temi/Desktop/ML/census_income/census-income.data", header = 0, delimiter = ", ")

#inspecting dataframe
income_data.head()

/home/temi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K


Data cleaning and feature engineering.

In [106]:
#transforming the sex column to numeric
income_data["sex"] = income_data["sex"].apply(lambda row: 0 if row == "Male" else 1)

In [107]:
#tranforming the native-country column
#print(income_data["native-country"].value_counts())

#majority of data comes from US, setting rows that contain US to 0 and others to 1
income_data["native-country"] = income_data["native-country"].apply(lambda row: 0 if row == "United-States" else 1)

In [108]:
#tranforming the race column
#print(income_data["race"].value_counts())

#majority of the entries are white, setting rows that contain white to 0 and others to 1
income_data["race"] = income_data["race"].apply(lambda row: 0 if row == "White" else 1)

In [109]:
income_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,0,0,2174,0,40,0,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,0,0,0,13,0,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,0,0,0,0,40,0,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,1,0,0,0,40,0,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,1,1,0,0,40,1,<=50K

In [125]:
#selecting labels and features
labels = income_data[["income"]]

data = income_data[["sex", "race" ,"native-country", "age","capital-gain", "capital-loss", "hours-per-week"]]

In [126]:
#splitting data into training and test sets
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, test_size = 0.2, random_state = 1)

In [132]:
#training model
forest = RandomForestClassifier(random_state = 1)
forest.fit(train_data, train_labels)
#checking model accuracy 
print(forest.score(test_data, test_labels))

/home/temi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.8206663595885153

In [128]:
print(forest.feature_importances_)

[0.05777176 0.01220789 0.00986613 0.32344162 0.28119028 0.11212085
 0.20340148]

In [129]:
#38, Private, 98080, Some-college, 10, Never-married, Adm-clerical, Other-relative, Other, Male, 0, 0, 40, India, <=50K.
print(forest.predict([[0, 1, 1, 38, 0, 0, 40]]))

['<=50K']